<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CoalListMapper">

    <resultMap type="CoalList" id="CoalListResult">
        <result property="batchNumber"    column="batch_number"    />
        <result property="coalNumber"    column="coal_number"    />
        <result property="sampleTime"    column="sample_time"    />
        <result property="miningAreaName"    column="mining_area_name"    />
        <result property="locationMiningArea"    column="location_mining_area"    />
        <result property="arrivalStatus"    column="arrival_status"    />
    </resultMap>
    <sql id="selectCoalListVo">
        select coal_registration.coal_number, batch.coal_number, batch.batch_number,coal_registration.sample_time, coal_registration.mining_area_name, batch.location_mining_area, batch.arrival_status from coal_registration INNER JOIN batch ON coal_registration.coal_number=batch.coal_number
    </sql>
    <select id="selectCoalList" parameterType="CoalList" resultMap="CoalListResult">
        <include refid="selectCoalListVo"/>
        <where>
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="coalNumber != null  and coalNumber != ''"> and coal_number = #{coalNumber}</if>
            <if test="sampleTime != null "> and sample_time = #{sampleTime}</if>
            <if test="miningAreaName != null  and miningAreaName != ''"> and mining_area_name like concat('%', #{miningAreaName}, '%')</if>
            <if test="locationMiningArea != null  and locationMiningArea != ''"> and location_mining_area = #{locationMiningArea}</if>
            <if test="arrivalStatus != null  and arrivalStatus != ''"> and arrival_status = #{arrivalStatus}</if>
        </where>
    </select>

    <select id="selectCoalListByCoalNumber" parameterType="String" resultMap="CoalListResult">
        <include refid="selectCoalListVo"/>
        where coal_number = #{coalNumber}
    </select>


    <update id="updateCoalList" parameterType="CoalList">
        update coal_registration
        where coal_number = #{coalNumber}
    </update>

</mapper>
