<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CoalListMapper">

    <resultMap type="CoalList" id="CoalListResult">
        <result property="batchNumber"    column="batch_number"    />
        <result property="coalNumber"    column="coal_number"    />
        <result property="sampleTime"    column="sample_time"    />
        <result property="sampleStrength"    column="sample_strength"    />
        <result property="samplingMethod"    column="sampling_method"    />
        <result property="sampler"    column="sampler"    />
        <result property="miningAreaName"    column="mining_area_name"    />
        <result property="locationMiningArea"    column="location_mining_area"    />
        <result property="arrivalStatus"    column="arrival_status"    />
        <result property="batchCoalWeight"    column="batch_coal_weight"    />
        <result property="licensePlate"    column="license_plate"    />
        <result property="destination"    column="destination"    />
        <result property="startTime"    column="start_time"    />
    </resultMap>
    <sql id="selectCoalListVo">
        select coal_registration.coal_number, batch.coal_number, batch.batch_number,coal_registration.sample_time, coal_registration.sample_strength, coal_registration.sampling_method, coal_registration.sampler,  coal_registration.mining_area_name, batch.location_mining_area, batch.arrival_status, batch.batch_coal_weight, batch.license_plate, batch.destination,batch.start_time  from coal_registration INNER JOIN batch ON coal_registration.coal_number=batch.coal_number
    </sql>
    <select id="selectCoalList" parameterType="CoalList" resultMap="CoalListResult">
        <include refid="selectCoalListVo"/>
        <where>
            <if test="batchNumber != null  and batchNumber != ''"> and batch.batch_number = #{batchNumber}</if>
            <if test="coalNumber != null  and coalNumber != ''"> and coal_registration.coal_number = #{coalNumber}</if>
            <if test="beginTime != null and endTime!= null"> and coal_registration.sample_time between #{beginTime} and #{endTime}</if>
            <if test="miningAreaName != null  and miningAreaName != ''"> and coal_registration.mining_area_name like concat('%', #{miningAreaName}, '%')</if>
            <if test="locationMiningArea != null  and locationMiningArea != ''"> and batch.location_mining_area = #{locationMiningArea}</if>
            <if test="arrivalStatus != null  and arrivalStatus != ''"> and batch.arrival_status = #{arrivalStatus}</if>
            <if test="sampleStrength != null  and sampleStrength != ''"> and coal_registration.sample_strength = #{sampleStrength}</if>
            <if test="samplingMethod != null">coal_registration.sampling_method = #{samplingMethod},</if>
            <if test="sampler != null">coal_registration.sampler = #{sampler},</if>
            <if test="batchCoalWeight != null  and batchCoalWeight != ''"> and batch.coal_weight = #{batchCoalWeight}</if>
            <if test="licensePlate != null  and licensePlate != ''"> and batch.license_plate = #{licensePlate}</if>
            <if test="destination != null  and destination != ''"> and batch.destination = #{destination}</if>
            <if test="startTime != null  and startTime != ''"> and batch.start_time = #{startTime}</if>
        </where>
    </select>

    <select id="selectCoalListByCoalNumber" parameterType="String" resultMap="CoalListResult">
        <include refid="selectCoalListVo"/>
        where coal_registration.coal_number = #{coalNumber} and batch.batch_number = #{batchNumber}
    </select>


    <update id="updateCoalList" parameterType="CoalList">
        update coal_registration, batch
        set  coal_registration.sample_strength=#{sampleStrength}, coal_registration.sampling_method=#{samplingMethod},
            coal_registration.sample_time=#{sampleTime}, coal_registration.sampler=#{sampler},
            coal_registration.mining_area_name = #{miningAreaName} , batch.mining_area_name = #{miningAreaName} ,
            batch.location_mining_area=#{locationMiningArea}, batch.arrival_status=#{arrivalStatus},
            batch.batch_coal_weight=#{batchCoalWeight}, batch.license_plate=#{licensePlate}, batch.destination=#{destination}
         where coal_registration.coal_number=#{coalNumber} and batch.batch_number=#{batchNumber}
         </update>
    <update id="updateCoalList2" parameterType="CoalList">
        update coal_registration, batch
        set  coal_registration.sample_strength=#{sampleStrength}, coal_registration.sampling_method=#{samplingMethod},
            coal_registration.sample_time=#{sampleTime}, coal_registration.sampler=#{sampler},
            coal_registration.mining_area_name = #{miningAreaName} , batch.mining_area_name = #{miningAreaName} ,
            batch.location_mining_area=#{locationMiningArea}, batch.arrival_status=#{arrivalStatus},
            batch.batch_coal_weight=#{batchCoalWeight}, batch.license_plate=#{licensePlate}, batch.destination=#{destination}
        where batch.batch_number=#{batchNumber}
    </update>
</mapper>
